.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: min(25vw, 6rem);
  padding: 1rem;
}

.container__logo {
  height: 100%;
}

.logo {
  height: 100%;
}

.container__logo .logo svg {
  height: 100%;
  width: auto;
}

.container__nav {
  height: 100%;
}

.nav__list,
.nav__item,
.nav__item a {
  height: 100%;
}

.nav__list {
  display: flex;
}

.nav__item button {
  height: 100%;
  width: auto;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav__item svg {
  height: 100%;
  width: auto;
}
