.container {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  width: 100%;
  height: 100svh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.626);
  backdrop-filter: blur(0.1rem);
}

.modal {
  width: 20rem;
  aspect-ratio: 1 / 1;
  background: red;
}
