* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html,
body {
  overscroll-behavior-y: none;
}

.App {
  display: flex;
  justify-content: center;
}

.wrapper {
  min-height: 100dvh;
  width: min(100%, 70rem);
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem min(6vw, 4rem);
}

ul li {
  list-style: none;
}

a {
  display: block;
}

::-webkit-scrollbar {
  width: 0;
}

.wing {
  animation: flap 6s ease infinite;
  transform-origin: top;
}

@keyframes flap {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-6deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
